/* colors */
$nav-link: #ffffff;
$liner1: #ae67fa;
$liner2: #f49867;
$text-color: #81afdd;

/* bg */
$blue-bg: #042c54;
$body-bg: #040c18;
$header-input: #052d56;
$btn-color: #ff4820;
$reg-background: linear-gradient(89.97deg, $liner1 1.84%, $liner2 102.67%);