// colors
$orange: #FFCA42;
$dark-orange: #cc9915;
$white: #fff;
$dark-white: #F5F5F5;
$dark: #969AA0;
$light-dark: #F6F8FC;
$dark-blue: #1B3764;
$light-blue: #B4C7E7;
$light-black: #141414;

// fonts
$cardo: 'Cardo', sans-serif;
$inter: 'Inter', sans-serif;

// transition
$transition: .3s;