* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $dark-blue;
    color: $white;
}

img {
    max-width: 100%;
    height: auto;
}

.img-reset {
    line-height: 0;
    font-size: 0;
}