.info {
    position: relative;
    padding-left: 26px;
    margin: 0 60px 15px 0;

    &:last-child {
        margin-right: 10px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 16px;
        height: 16px;
        background: $orange;
        border-radius: 50%;
        overflow: hidden;
    }

    &__title {
        font: 1.26em/1.3 $cardo;
        letter-spacing: 0.48px;
        display: block;
        margin-bottom: 12px;
    }

    &__description {
        font-size: 0.89em;
    }
}