//colors
$primary-white: #fafafa;
$primary-black: #141414;
$primary-gray: #696969;

//font-family
$base-font-family: 'Epilogue', sans-serif;

//font-weight
$font-weight-500: 500;
$font-weight-700: 700;

//font-size
$base-font-size: 1.125rem;
$font-size-sm: $base-font-size * 0.7;
$font-size-m: $base-font-size * 1.2;
$font-size-l: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;