* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
form,
.products-item  {
    padding: 20px;
    background: #ddd;
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
}
input {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid #c5d0d9;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 1rem;
}
.default-button {
    padding: 10px;
    background: #e2f0ff;
    border: 1px solid #c5d0d9;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1rem;
}
.default-button:hover {
    background: #fff;
}