body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.picture-library {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 0;
}
.picture-library__big,
.picture-library__small {
    flex: 0 0 100%;
    max-width: 100%;
}
.picture-library__small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}
.picture-library__item-small {
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-size: 0;
    line-height: 0;
}
.picture-library__item-small:hover {
    opacity: 0.7;
}
.picture-library__item-small img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
@media screen and (min-width: 1200px) {
    .picture-library__item-small img {
        width: 200px;
        height: 200px;
    }
}
.picture-library__big {
    font-size: 0;
    line-height: 0;
}
.picture-library__big img {
    width: 100%;
    object-fit: cover;
}
