:root {
    --dark: #ddd;
    --red: red;
    --border-radius: 3px;
    --border: 1px solid var(--dark);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font: 16px/1.2 Arial sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
button {
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: none;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s;
}
button:hover {
    background: #ddd;
}
.user-container {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0 10px;
}
.user, .item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.item:last-child {
    border-bottom: none;
}
.error {
    color: var(--red);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}